<h1 class="text-center fw-bolder mt-5">Cadastro de Funcionários</h1>

<div class="text-center mx-auto w-25">
  <label for="matricula">Matrícula: </label>
  <input
    class="form-control"
    id="matricula"
    type="number"
    formControlName="matricula"
  />
  <label for="nome">Nome: </label>
  <input class="form-control" id="nome" type="text" formControlName="nome" />
  <label for="email">Email: </label>
  <input class="form-control" id="email" type="text" formControlName="text" />
  <label for="cpf">CPF: </label>
  <input class="form-control" id="cpf" type="text" formControlName="cpf" />
  <label for="datanascimento">Data de Nascimento: </label>
  <input
    class="form-control"
    id="datanascimento"
    type="date"
    formControlName="datanascimento"
  />
  <label for="cargahoraria">Carga horária de Trabalho: </label>
  <input
    class="form-control"
    id="cargahoraria"
    type="text"
    formControlName="cargahoraria"
  />
  <label for="dataadmissao">Data de Admissão: </label>
  <input
    class="form-control"
    id="dataadmissao"
    type="date"
    formControlName="dataadmissao"
  />
  <label for="datademissao">Data de Demissão: </label>
  <input
    class="form-control"
    id="datademissao"
    type="date"
    formControlName="datademissao"
  />
</div>
<div class="m-auto justify-content-center text-center p-3">
  <button class="btn btn-outline-success mx-2">CADASTRAR</button>
  <button class="btn btn-outline-secondary mx-2">EDITAR</button>
  <button class="btn btn-outline-danger mx-2">EXCLUIR</button>
  <button class="btn btn-outline-warning mx-2">LIMPAR</button>
</div>
