<h1 class="text-center fw-bolder mt-5">Cadastro de Funçoes</h1>
<form [formGroup]="funcaoForm" (ngSubmit)="onSubmit()">
  <div class="text-center mx-auto w-50">
    <label for="nome" class="form-label">Nome:</label>
    <input class="form-control" id="nome" type="text" formControlName="nome" />
    <label for="descricao" class="form-label">Descrição: </label>
    <input
      class="form-control"
      id="descricao"
      type="text"
      formControlName="descricao"
    />
    <label for="salario" class="form-label">Salário: </label>
    <input
      class="form-control"
      id="salario"
      type="text"
      formControlName="salario"
    />
    <label for="diasTrabalho" class="form-label">Dias trabalhados: </label>
    <input
      class="form-control"
      id="diasTrabalho"
      type="text"
      formControlName="diasTrabalho"
    />
    <label for="documentos" class="form-label">Documentos Requeridos: </label>
    <input
      class="form-control"
      id="documentos"
      type="text"
      formControlName="documentos"
    />
  </div>
  <div class="m-auto justify-content-center text-center p-3">
    <button
      type="submit"
      [disabled]="!funcaoForm.valid"
      class="btn btn-outline-success mx-2"
    >
      CADASTRAR
    </button>
    <button type="reset" class="btn btn-outline-warning mx-2">LIMPAR</button>
  </div>
</form>
