<h1 class="text-center fw-bolder mt-5">SISTEMA DE RECURSOS HUMANOS - RH</h1>
<ul
  class="list-group text-center m-auto vh-100 justify-content-center"
  style="width: 15vw"
>
  <a
    class="list-group-item list-group-item-dark link-danger"
    [routerLink]="['Funcionários']"
    >FUNCIONÁRIOS</a
  >
  <a
    class="list-group-item list-group-item-dark link-danger"
    [routerLink]="['Setores']"
    >SETORES</a
  >
  <a
    class="list-group-item list-group-item-dark link-danger"
    [routerLink]="['Funcoes']"
    >FUNÇÕES</a
  >
</ul>