<h1 class="mt-3">Setores</h1>
<hr />
<ol>
  <li *ngFor="let setor of setores">
    <p>
      {{ setor.nome }}
      &nbsp;
      <button class="btn btn-success ms-1" [routerLink]="['/setores-cadastro']">
        Cadastrar
      </button>
      <button
        class="btn btn-warning ms-1"
        [routerLink]="['/edicao-setores', setor.id]"
      >
        Editar
      </button>
      <button class="btn btn-danger ms-1" (click)="remove(setor)">
        Excluir
      </button>
    </p>
    <p>DESCRIÇÃO: {{ setor.descricao }}</p>
    <p>Supervisor: {{ setor.supervisor }}</p>
  </li>
</ol>
