<div class="col-md-12 d-flex">
  <h1 class="mt-3">Setores</h1>
  &nbsp;
  <button class="btn btn-success m-auto" [routerLink]="['/setores-cadastro']">
    Cadastrar
  </button>
</div>
<ol>
  <li *ngFor="let setor of setores">
    <p>
      {{ setor.nome }}
      &nbsp;
      <button
        class="btn btn-warning ms-1"
        [routerLink]="['/edicao-setores', setor.id]"
      >
        Editar
      </button>
      <button class="btn btn-danger ms-1" (click)="remove(setor)">
        Excluir
      </button>
    </p>
    <p>Descrição: {{ setor.descricao }}</p>
    <p>Supervisor: {{ setor.supervisor }}</p>
    <p>Local: {{ setor.local }}</p>
    <p>Especialidade: {{ setor.especialidade }}</p>
  </li>
</ol>
