<div class="col-md-12 d-flex">
  <h1 class="mt-3">Funções</h1>
  &nbsp;
  <button class="btn btn-success m-auto" [routerLink]="['/funcoes-cadastro']">
    Cadastrar
  </button>
</div>
<ol>
  <li *ngFor="let funcao of funcoes">
    <p>
      {{ funcao.nome }}
      &nbsp;
      <button
        class="btn btn-warning ms-1"
        [routerLink]="['/edicao-funcoes', funcao.id]"
      >
        Editar
      </button>
      <button class="btn btn-danger ms-1" (click)="remove(funcao)">
        Excluir
      </button>
    </p>
    <p>Descrição: {{ funcao.descricao }}</p>
    <p>
      <strong> Salário: {{ funcao.salario | currency: "R$" }} </strong>
    </p>
    <p>Dias trabalhados: {{ funcao.diasTrabalho }}</p>
    <p>Documentos Requeridos: {{ funcao.documentos }}</p>
  </li>
</ol>
